services:
  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - ./redis:/data
  server:
    image: ghcr.io/goauthentik/server:latest
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: host.docker.internal
      AUTHENTIK_POSTGRESQL__USER: pguser
      AUTHENTIK_POSTGRESQL__PASSWORD: pgpass
    ports:
      - "9000:9000"
      - "9443:9443"
    volumes:
      - ./media:/media
      - ./custom-templates:/templates
    depends_on:
      - redis
  worker:
    image: ghcr.io/goauthentik/server:latest
    restart: unless-stopped
    command: worker
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: host.docker.internal
      AUTHENTIK_POSTGRESQL__USER: pguser
      AUTHENTIK_POSTGRESQL__PASSWORD: pgpass
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./media:/media
      - ./certs:/certs
      - ./custom-templates:/templates
    depends_on:
      - redis
